[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-crontab = "*"
moment = "*"
"bs4" = "*"
textblob = "*"
pandas = "*"
scipy = "*"
realtime-talib = "*"
sklearn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
